# ซ่อนไฟล์ความลับ (API Keys, รหัสผ่าน Database)
.env

# ซ่อนโฟลเดอร์ที่เก็บไลบรารี (เพราะมันหนักมากก ให้คนอื่นไป npm install เอาเอง)
node_modules/

# ซ่อนไฟล์เสียง mp3 ที่ผู้ใช้อัปโหลดมาชั่วคราว (เดี๋ยวเซิร์ฟเวอร์เต็ม)
uploads/
temp_*/

# ซ่อนโฟลเดอร์ที่เกิดจากการ Build โค้ด
dist/
/src/generated/prisma
